<p id="notice"><%= notice %></p>



<div class='container-fluid'>
  <div class="col-12 d-flex-wrap no-gutters">
    <h1>Locations</h1>
    <% @locations.each_slice(3) do |location| %><br>
      <div class="row">
        <% location.each do |local| %>
          <div class='col-md-4 card-deck'>
            <div class="card">
                <img class="local-img" src='<%=local.img_url%>'/>

              <div class="overlay">
                <div class="card-title" style="padding-left:20px; padding-top:10px;"><strong><h5><%= local.country%></h5></strong></div>
                <hr />
                <div class ="card-title" style="padding-left:20px;"><h5><%= local.location_name%></h5></div>
                <div class="card-text" style="padding-left:20px; padding-right:20px;"><p>
                  <%=local.description%>
                  </p></div>
                <br />
                <div class="d-flex justify-content-center">
                <%= button_to '    Lets Go    ', plans_path, {method: 'get', class:'btn btn-priamry start-btn'} %>
                  </div>


              </div>
            <br />
            </div>
          </div>
        <%end%>
      </div>
    <%end%>
    <br />
    <%= button_to 'Add Recommendation', new_location_path, {method: 'get', class:'btn btn-priamry start-btn'} %>
</div>

</div>




<br>
