<p id="notice"><%= notice %></p>

<h1>Places</h1>
<div class="container-fluid">
  <div class = "row">
    <div class ="col-9">
      <h4><%= month_calendar events: @filteredplace do |date, places| %></h4>
        <%= date.day %>

        <% places.each do |place| %>
          <div>
            <%= place.name %> <strong><%=place.start_time.strftime('%H:%M')%></strong>
            <p>Trip No.<%= place.plan_id%></p>
          </div>
        <% end %>
      <% end %>
      </div>
      <div class="col-3 d-flex flex-column">
        <table style = "border: 1px solid black">
            <tbody style = "border: 1px solid black">
            <% @places.each do |place| %>

              <tr style = "border: 1px solid black">
                <td> <%=place.name%></td>
                </tr>
                <tr><td> Starts @ <%=place.start_time.strftime('%A, %B %H:%M')%></td></tr>
                <td> until<%=place.end_time%></td>
                <tr>


                <td><%= link_to 'Delete', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br/>
        <%= link_to 'New Place', new_plan_place_path,{method:'get', class:'btn btn-primary'} %>
        <br/>

        <%= button_to 'Trips', plans_path, {method:'get', class:'btn btn-primary'} %>
      </div>
    </div>
  </div>
<div class="row">

</div>


<br>
