


<%= form_with scope: :place, url: plans_places_path, local: true do |form| %>
  <div class="container">
    <h1>New Place</h1>
    <div class="row">
      <div class ="offset-4 col-6 ">
        <p><%= form.label :country %>  </p>
          <%= form.text_field :country %>
        <p><%= form.label :city_name %> </p>
          <%= form.text_field :name %>
        <p><%= form.label :date%></p>
          <%= form.date_select :date %>
        <p><%= form.label :time%></p>
          <%= form.time_select :time%>
        <br/>
        <br/>
        <p><%= form.label :Personal_notes%></p>
          <%= form.text_area :notes,{rows:'10' , cols:'40'}%>


        <br/>
          <%= form.submit %>
          <% end %>
        </div>

      </div>

      <%= link_to 'Back', plans_places_path %>
    </div>
