<!DOCTYPE html>
<html>
  <head>
    <title>FlyByNight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark mt-0" style="opacity: 0.8;">

           <div class="container-fluid">
             <a class="navbar-brand hover-col" href="/" style="  color:#ffeecc"><strong>Fly By Night</strong></a>
               <div class="row navbar-nav" style="padding-left: 50px;">
                 <div class="d-flex justify-content-start align-items-center">
                   <a class="nav-item nav-link active"><strong><%=link_to 'Plans', plans_path%></strong></a>

                   <a class="nav-item nav-link active" style=" color:#ffeecc; padding-bottom: 8px; padding-right:20px;">
                     <strong><%=link_to 'Recommendations', locations_path%></strong></a>



                     <div class="d-flex flex-row justify-content-end align-items-end">
                        <% if user_signed_in? %>
                        <div class = "d-flex align-items-center justify-content-end">
                           <p style="color:#ffeecc; padding-top: 15px; padding-left: 20px;"><%=current_user.email%><strong></strong></p>
                            <a class="nav-item nav-link">
                          <%= link_to 'log out', destroy_user_session_url, method: :delete %>
                            </a>
                        <% else %>
                            <a class="nav-item nav-link">
                                <strong><%= link_to 'Login', new_user_session_url %></strong>
                            </a>
                        <% end %>
                          </div>
                     </div>

                 </div>
               </div>
             </nav>
               </div>

    </header>
  <body>

    <%= yield %>
  </body>
</html>
